:root {
    --owen-background: {{background}};
    --owen-foreground: {{foreground}};
    --owen-surface: {{surface}};
    --owen-accent: {{accent}};
    --toolbar-bgcolor: var(--owen-background) !important;
    --toolbar-color: var(--owen-foreground) !important;
    --lwt-accent-color: var(--owen-background) !important;
    --lwt-text-color: var(--owen-foreground) !important;
    --tab-selected-bgcolor: var(--owen-surface) !important;
    --arrowpanel-background: var(--owen-background) !important;
    --arrowpanel-color: var(--owen-foreground) !important;
}
* { border-radius: 0 !important; box-shadow: none !important; }
#navigator-toolbox { font-family: "JetBrainsMono Nerd Font Mono" !important; }
.titlebar-buttonbox-container, .titlebar-spacer { display: none !important; }
.tab-background[selected] { border-bottom: 1px solid var(--owen-accent) !important; }
